/*
*:hover{border:1px solid red;}
*/
:root{
    --primary:#B4121B;
    --secondary:#FF9595;
    --tertiary:#ffffff;
    --bg:#111111;
    --quote-text:#FBFF78;
}



body {
    font-size: 15px;
    color: snow;
    background: var(--bg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#top-sec{
    border-radius: 10px 10px 0px 0px;
    background-color: var(--primary);
    color:var(--tertiary);
}
#top img{
    border-radius:50%;
}
#top h1{
    border-radius: 0pt 10pt 10pt 0px;
    display:inline-block;
    margin-left:5pt;
    padding:2pt;
   
}
#top{
    display:flex;
    direction: row;
    justify-content: left;
    margin:0px auto;
    padding: 2pt 5pt;
    padding-top: 10pt;
    font-size:10pt;
}
blockquote{
    text-align: center;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana,arial;
    font-weight: bold;
    font-size: 26pt;
    padding:10pt 5pt;
}
#search{
    border-radius: 10px;
    border:none;
    margin: 10pt 12% 30pt 12%;
    width:75%;
    height:35pt;
}
#select-sec{
    
    color:var(--tertiary);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size:15pt;
    font-weight: normal;
    border-radius:0px 0px 10px 10px;
    
}
label{
    
    width:100%;
    height:auto;
    padding:5pt 0pt;
    text-align: center;
    border:2px solid var(--tertiary);
    border-radius:0pt 0pt 0pt 10pt;
    
}
label[for="quotes"]{
    border-radius:0pt 0pt 10pt 0pt;
}
input[type="radio"]{
    display: none;
    
}
#list{
    list-style: none;
    padding:0px;
}
#list li{
    margin-left: 5pt;
}
.quotes li{
    margin:5pt 0pt;
}
a{
    text-decoration: none;
    color:var(--quote-text);
    font-size:12pt;
    font-style: italic;
    font-family: Arial, Helvetica;
}

