/*
*:hover{border:1px solid red;}
*/
@keyframes select-sec {
    0% {top:-100pt;}
    100%{top:-18pt;}
}
:root{
    --primary:#B4121B;
    --secondary:#FF9595;
    --tertiary:#ffffff;
    --bg:#111111;
    --quote-text:#F9F9F9;
}



body {
    font-size: 15px;
    color: snow;
    background: var(--bg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#top-sec{
    border-radius: 10px 10px 0px 0px;
    background-color: var(--primary);
    color:var(--tertiary);
    margin:auto;
    
}
#top img{
    border-radius:50%;
    
}
#top h1{
    
    display:inline-block;
    margin:0pt;
    margin-left:3pt;
    padding-top:10pt;
    background: -webkit-linear-gradient( bottom left,#00AFFF,#1D0BF7,#F925FF,#F81E1E,#FFF125);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
}

#top{
    position:relative;
    background: white;
    display:flex;
    direction: row;
    justify-content: left;
    margin:0px;
    padding: 0pt;
    padding: 0pt 2pt;
    font-size:8pt;
    
}
blockquote{
    text-align: center;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana,arial;
    font-weight: bold;
    font-size: 26pt;
    padding:10pt 5pt;
}
#search{
    border-radius: 10px;
    border:none;
    margin: 10pt 12% 30pt 12%;
    width:75%;
    height:35pt;
}
#select-sec{
    position: relative;
    top:-100pt;
    z-index:-1;
    color:var(--tertiary);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size:15pt;
    font-weight: normal;
    border-radius:0px 0px 10px 10px;
    
}
 .select-secAnimate{
     animation:select-sec 0.6s 1;
     
 }

label{
    
    width:100%;
    height:auto;
    padding:5pt 0pt;
    text-align: center;
    border:2px solid var(--tertiary);
    border-radius:0pt 0pt 0pt 10pt;
    
}
label[for="quotes"]{
    border-radius:0pt 0pt 10pt 0pt;
}
input[type="radio"]{
    display: none;
    
}
#list{
    list-style: none;
    padding:0px;
}
#list li{
    margin-left: 10pt;
}
#list li:hover{
    color: gold;
    transition: 0.4s ease;
}
.quotes li{
    margin:5pt 0pt;
    list-style: decimal ;
}
.quotes li:hover{
    color: #ffffff;
    }
li:hover{
    font-weight: bold;
    transition:0.5s ease;
}
a{
    text-decoration: none;
    color:var(--quote-text);
    font-size:12pt;
    font-family: Arial, Helvetica;
}

