
:root{
    --primary:#2E8B57;
    --secondary:#8FBC8F;
    --tertiary:#FAF0E6;
    --grey-shade:#FFF8DC;
}
body {
    font-size: 15px;
    background: var(--tertiary);
}
#top-sec{
    border-radius: 10px 10px 0px 0px;
    background-color: var(--primary);
    color:var(--tertiary);
}
#top{
    
    margin:0px auto;
    padding: 3px 5px;
    padding-top: 15pt;
    font-size:21pt;
}

#search{
    border-radius: 10px;
    border:none;
    margin: 5pt;
    width:320px;
    height:28px;
}
#select-sec{
    background-color: var(--primary);
    color:var(--tertiary);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size:15pt;
    font-weight: normal;
    
}
label{
    
    width:100%;
    height:auto;
    padding:5pt 0pt;
    text-align: center;
    border:2px solid var(--tertiary);
    
}
input[type="radio"]{
    display: none;
    
}
#list{
    list-style: none;
    padding:0px;
}
#list li{
    margin-left: 5pt;
}
.quotes li{
    margin:5pt 0pt;
}
a{
    text-decoration: none;
    color:#8390B6;
    font-size:15pt;
    font-style: italic;
}

@media only screen and (width>360px ) and (height>600px){
   #top{ display: inline;
       width:40%;
   }
   #search-sec{
       width:60%;
   }
   #search{
       width:530px;
       margin:25px 0px;
   }
    #top-sec{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }
    
}